.App {
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: yellowgreen;
  height: 100%;
}

.main {
  height: 80vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b88d20;
  border-bottom: #b88d20;
  padding-bottom: 15px;
}
